.app-container {
    margin: 15px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 15px;
}

.navbar__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    border: 1px solid black;
    border-radius: 5px;
    font-size: 3em;
    width: 50%;
    height: 50px;
}

.navbar__user {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.navbar__user__level {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 2em;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
