.app-container {
    margin: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 3em;
    margin: 1em;
}

.login__form {
    width: 300px;
}

.login__button {
    margin-top: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 15px;
}

.navbar__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    font-size: 3em;
}

.navbar__user {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.navbar__user__level {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 2em;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.records__bottomrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 5px;
}
